:root {
  --gray-s1: hsl(0, 0%, 99%);
  --gray-s2: hsl(0, 0%, 97.5%);
  --gray-c1: hsl(0, 0%, 95%);
  --gray-c2: hsl(0, 0%, 93.25%);
  --gray-c3: hsl(0, 0%, 91.75%);
  --gray-o1: hsl(0, 0%, 91.5%);
  --gray-o2: hsl(0, 0%, 81%);
  --gray-o3: hsl(0, 0%, 73%);
  --gray-p1: hsl(0, 0%, 55%);
  --gray-p2: hsl(0, 0%, 51%);
  --gray-t1: hsl(0, 0%, 39%);
  --gray-t2: hsl(0, 0%, 13%);

  --indigo-s1: hsl(220, 100%, 99.25%);
  --indigo-s2: hsl(218, 100%, 98.5%);
  --indigo-c1: hsl(214, 100%, 96%);
  --indigo-c2: hsl(216, 100%, 95%);
  --indigo-c3: hsl(217, 100%, 94%);
  --indigo-o1: hsl(225, 100%, 88%);
  --indigo-o2: hsl(226, 87%, 82%);
  --indigo-o3: hsl(226, 75%, 75%);
  --indigo-p1: hsl(226, 70%, 55%);
  --indigo-p2: hsl(226, 65%, 52%);
  --indigo-t1: hsl(226, 56%, 50%);
  --indigo-t2: hsl(226, 50%, 24%);

  --red-s1: hsl(0, 100%, 99.25%);
  --red-s2: hsl(0, 100%, 98.5%);
  --red-c1: hsl(0, 100%, 96.75%);
  --red-c2: hsl(0, 100%, 95.75%);
  --red-c3: hsl(0, 100%, 95%);
  --red-o1: hsl(359, 94%, 87%);
  --red-o2: hsl(359, 77%, 81%);
  --red-o3: hsl(359, 70%, 74%);
  --red-p1: hsl(358, 75%, 59%);
  --red-p2: hsl(358, 69%, 55%);
  --red-t1: hsl(358, 65%, 49%);
  --red-t2: hsl(351, 63%, 24%);

  --green-s1: hsl(137, 85%, 98.5%);
  --green-s2: hsl(137, 84%, 97%);
  --green-c1: hsl(128, 59%, 93%);
  --green-c2: hsl(130, 57%, 91%);
  --green-c3: hsl(132, 55%, 89%);
  --green-o1: hsl(144, 41%, 77%);
  --green-o2: hsl(146, 40%, 68%);
  --green-o3: hsl(151, 40%, 54%);
  --green-p1: hsl(151, 55%, 42%);
  --green-p2: hsl(152, 56%, 39%);
  --green-t1: hsl(154, 60%, 32%);
  --green-t2: hsl(156, 42%, 24%);

  --jui-typeface: test untitled sans, system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;

  --jui-font-weight-1: 400;
  --jui-font-weight-2: 500;
  --jui-font-weight-3: 600;

  --jui-space-1: 4px;
  --jui-space-2: 8px;
  --jui-space-3: 12px;
  --jui-space-4: 16px;
  --jui-space-5: 20px;
  --jui-space-6: 24px;
  --jui-space-7: 32px;
  --jui-space-8: 40px;
  --jui-space-9: 48px;
  --jui-space-10: 64px;

  --jui-font-size-1: 12px;
  --jui-font-size-2: 14px;
  --jui-font-size-3: 16px;
  --jui-font-size-4: 18px;
  --jui-font-size-5: 20px;
  --jui-font-size-6: 26px;
  --jui-font-size-7: 36px;
  --jui-font-size-8: 46px;
  --jui-font-size-9: 58px;

  --jui-line-height-1: 18px;
  --jui-line-height-2: 22px;
  --jui-line-height-3: 24px;
  --jui-line-height-4: 25px;
  --jui-line-height-5: 25px;
  --jui-line-height-6: 31px;
  --jui-line-height-7: 38px;
  --jui-line-height-8: 48px;
  --jui-line-height-9: 56px;

  --jui-letter-spacing-1: 0.025em;
  --jui-letter-spacing-2: 0.0125em;
  --jui-letter-spacing-3: 0.016em;
  --jui-letter-spacing-4: 0.0125em;
  --jui-letter-spacing-5: 0.0125em;
  --jui-letter-spacing-6: -0.016em;
  --jui-letter-spacing-7: -0.021em;
  --jui-letter-spacing-8: -0.038em;
  --jui-letter-spacing-9: -0.036em;

  --jui-radius-1: 2px;
  --jui-radius-2: 3px;
  --jui-radius-3: 4px;
  --jui-radius-4: 6px;
  --jui-radius-5: 8px;
  --jui-radius-6: 12px;
  --jui-radius-7: 16px;
  --jui-radius-pill: 9999px;
  --jui-radius-circle: 50%;

  --jui-duration-1: 25ms;
  --jui-duration-2: 50ms;
  --jui-duration-3: 100ms;

  --jui-shadow-1:
    0 1px 2px 0 hsla(0, 0%, 0%, 0.05),
    0 1px 3px 0 hsla(0, 0%, 0%, 0.05),
    0 2px 4px -1px hsla(0, 0%, 0%, 0.05);
} 